{% load staticfiles %}

<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!--PAGE TITLE-->
	<title>Zuirens Live</title>
	<!--GOOGLE FONT CSS-->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' type='text/css' media='all' />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Six+Caps' type='text/css' media='all' />
	<!--LOCAL CSS-->
	<link rel='stylesheet' href="{% static "css/style.css" %}">
	<link rel='stylesheet' href="{% static "css/respond.css" %}">
	<link rel='stylesheet' href="{% static "font-awesome-4.3.0/css/font-awesome.min.css" %}">
</head>

<body class="home page page-template-page-reviews ajax-on">
	<div id="contentContainer">
		<!--LOGO-->
		<a id="logo" href="/"><img src="{% static "images/logo.png" %}" alt="Zuirens Live" /></a>
		<!--end logo-->
		<div id="menu-control"><span></span></div>

		<!--AJAX CONTAINER-->
		<div id="ajax-content">
			<!--PAGE INFO FOR UPDATING BODY CLASS AND DOC TITLE-->
			<div id="page-info" data-page-title="" class="home page page-template-page-reviews ajax-on"></div>

			<!--REVIEWS-->
			<div id="reviews">
				<div class="review">
					<div class="reviewContent">
						<p>"The acting was good. I also liked the music. But it could have had one or two more car chases if you ask me."</p>
					</div>
					<div class="reviewTitle">Hank, First Out The Door Magazine</div>
				</div>
				<!--end review-->
			</div>
			<!--end reviews-->
		</div>
		<!--END AJAX CONTAINER-->
		<!--SOCIAL ICONS-->
		<div id="socialIcons"></div>
		<!--VIDEO-->
			<div class="dplayer" id="dplayer3"></div>
		<!--LOADING ANIMATION-->
		<div id="loading-page"></div>
		<!--CONTENT COVER-->
		<div id="contentCover"></div>
	</div>
	<!--end contentContainer-->
	<div id="footerContainer">
		<div id="footer">
			<!--CREDITS-->
			<div id="vys-credits">
			<!--COPYRIGHT NOTICE-->
			<div id="copyright">&copy; 2016 Zuirens Live. by <a target="_blank" href="http://www.zuirens.com">Zuirens.com</a></div>
		</div>
		<!--end footer-->
	</div>
	<!--end footerContainer-->
	<!--JavaScript-->
	<script type='text/javascript' src="{% static "plugin/flv.min.js" %}"></script>
	<script type='text/javascript' src="{% static "plugin/hls.min.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/DPlayer.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/jquery.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/core.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/transition.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/background.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/spin.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/custom.js" %}"></script>
	<script type='text/javascript' src="{% static "scripts/retina.js" %}"></script>

	<script>

	// Live Video (HTTP Live Streaming, M3U8 format) support
	var dp3 = new DPlayer({
			element: document.getElementById('dplayer3'),
			autoplay: true,
			theme: '#FADFA3',
			loop: true,
      lang: 'en',
			screenshot: false,
			hotkey: true,
			video: {
                    url: 'https://video-edge-5594f8.lax01.hls.ttvnw.net/transcode-907772/hyper2374_23682575568_548831863/medium/index-live.m3u8?token=id=5531793904224539367,bid=23682575568,exp=1479448746,node=video-edge-5594f8.lax01,nname=video-edge-5594f8.lax01,proto=https,fmt=medium&sig=d91b9cb37f84dc1672ba1e9a9014bd2e1507066e',
                    pic: 'https://headquarter2012.files.wordpress.com/2012/02/ill-be-back.jpg'
                {#					url: 'http://devtest.qiniudn.com/若能绽放光芒5.m3u8',#}
{#					pic: 'http://devtest.qiniudn.com/若能绽放光芒.png'#}
			},
			danmaku: {
					id: '9E2E3368B56CDBB42',
					api: 'https://api.prprpr.me/dplayer/',
					token: 'tokendemo',
					maximum: 3000
			}
	});
	</script>

</body>

</html>
